{% extends 'base.html' %}

{% block content %}
<div class="container"></div>
    <div class="row justify-content-center">
        <div class="col-6">
            <h1 class="text-center mt-5">Disburse Payment</h1>
            <form method="post">
                {% csrf_token %}
                <label for="amount">Amount:</label><br>
                <input type="text" id="amount" name="amount"><br>
                <label for="phone_number">Phone Number:</label><br>
                <input type="text" id="phone_number" name="phone_number"><br>
                <label for="external_id">External ID:</label><br>
                <input type="text" id="external_id" name="external_id"><br>
                <label for="payermessage">Message:</label><br>
                <input type="text" id="payermessage" name="payermessage"><br>
                <p></p>
                <input type="submit" value="Submit">
            </form>
            {% if result %}
                <h3 class="mt-4">MoMo Response: {{ result.response|default:"Not available" }}</h3>
                <h3>MoMo Ref: {{ result.ref|default:"Not available" }}</h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}